/* natalie-kikić style sheet */
/* for Libre baskerville font (used for writing) */
@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: flex;
    flex-flow:column nowrap;
    text-align: center;
    background-color: #0A0701;
}

header, main, footer {
    max-width: 98vw;
    margin-left: 1%;
    margin-right: 1%;
}

.menu-button {
    margin-right: 7%;
}


/* utility classes  */

:root {
    --HEADER-BGCOLOR: #0A0701;
    --HEADER-COLOR: #D2AC39;
    --BUTTON-COLOR: #763f7d;
}

.regular-caption {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.bold-caption {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.italic-caption {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  img {
    display:block;
}

.hide {
    position: absolute;
    left: 10000px;
}

/* Define the custom font */
@font-face {
    font-family: 'TAN-ASTORIA';
    src: url('fonts/tan-astoria-display-webfont.woff') format('woff'); 
         }

/* end utility classes */


html {
    font-size: 1rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}


body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

/* Use the custom font for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'TAN-ASTORIA', sans-serif;
}

/* START: STICKY HEADER */
header {
    background-color: white;
    color: var(--HEADER-BGCOLOR);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    border-bottom: 0.5px solid #0A0701;
}


.sticky-heading {
    padding: 0.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height:5rem;
}

.sticky-heading h1 {
    padding:1.5rem;
}

.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:0.5rem; /* important to keep padding to avoid going offscreen */
}

.menu-line,
.menu-line::before,
.menu-line::after {
    background-color: var(--HEADER-BGCOLOR);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}

.menu-line::before,
.menu-line::after {
    content: "";
}

.menu-line::before {
    transform: translate(-20px, -12px);
}

.menu-line::after {
    transform: translate(-20px, 12px);
}

:is(header:hover, header:focus-within) .menu-line {
    background-color: transparent;
    transform: rotate(90deg)
}

:is(header:hover, header:focus-within) .menu-line::before {
    transform: translateX(-20px) rotate(45deg);
}

:is(header:hover, header:focus-within) .menu-line::after {
    transform: translateX(-20px) rotate(-45deg);
}

:is(header:hover, header:focus-within) nav {
    display: block;
    background-color: whitesmoke;
    padding-bottom: 10rem;
}

nav {
    background-color: white;
    display: none;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out;
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}

nav ul:first-child {
    border-top: 1px solid var(--HEADER-BGCOLOR);
}

nav li {
    justify-items: center;
    padding: 3.5rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7rem;
}



nav a {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    
}

nav a:any-link {
    color: var(--HEADER-BGCOLOR);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    transform: scale(1.2);
    transition: all 0.3s;
}
/* End: STICKY HEADER */



/* START: hero article (index): */
article .hero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #0A0701;
    max-width: 100vw;
    min-height:99vh;


}

.hero figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top:10%;
}

.hero img{
    flex-grow: 0.3;
    max-width: 75%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 10%;
}

.hero figcaption{
    flex-grow:1;
    color: #D2AC39;
    text-align: center;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.hero h2 {
    flex-grow: 4;
    font-size: 3rem;
    padding: 8%;
    padding-bottom:5%;
}

.hero p.italic-caption {
    flex-grow:10;
    font-size: 1em;
    padding: 3%;
}

/* end of hero article 
START of about-me article
*/

.about-me {
    background-color: white;
    border:1px solid pink;
}

.about-me figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.about-me img{
    flex-grow: 3;
    max-width: 100%;
    height: auto;
    padding: 10%;
    padding-top: 3%;
    padding-bottom:0%;
}

.about-me figcaption {
    padding:8%;
}

.about-me figcaption h2{
    font-size: 3rem;
    text-align: center;
    color:#D2AC39;
}

.about-me p {
    text-align: center;
    padding:3%;
    font-weight: 800;
    line-height:1.3;
}

/* END of about-me article
START of HOUSE-OF-LAVENDER article
*/

article.house-of-lavender {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0A0701;
}

.house-of-lavender img {
    flex-grow:2;
    max-width: 100%;
    height: auto;
    padding: 5%;
}

.house-of-lavender h2 {
    color:#D2AC39;
    font-size: 4rem;
    line-height: 1.3;
    padding:5%;
    padding-left: 25%;
    padding-right:25%;
    text-align: center;
    font-weight: 100;
}

.house-of-lavender h3 {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    color:#D2AC39;
    padding: 5%;
    text-align: center;
    line-height: 1.7;
}

/*END of house-of-lavender article
START of hol-blurb
*/

article.hol-blurb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0A0701;
    max-width: 100%;
}

.hol-blurb p {
    padding:0;
    color:#D2AC39;
    text-align: center;
    line-height: 1.5;
    margin: 5%;
    font-size: 1.2rem;
}

section.hashtag {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    flex-grow:1;
    width: 100%;
}

.hashtag p {
    font-size: 1rem;
}


.hol-blurb .learn-more-button {
    width: 200px;
    height: 50px;
    margin: 5%;
    background-color: var(--BUTTON-COLOR);
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 1.3rem;
    font-style: italic;
    border: none;
    border-radius: 500px;
}


/* End of .hol-blurb...

START of FOOTER  */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    background-color: white;
}

article.footer-logo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap:2%;
    justify-items: center;
    align-items: center;
    display:grid;
    max-width:80%;
    margin:10%;
}

.footer-logo h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.8rem;
    padding-left: 15%;
    padding-right: 15%;

}

div.twitter-logo {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: right;
    align-items: center;
}

.twitter-logo img{
    max-width:25%;
    height: auto;
}

div.instagram-logo {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: left;
    align-items: center;
}

.instagram-logo img {
    max-width: 25%;
    height:auto;
}

/*END OF FOOTER */

/* BOOKS PAGE ***************************************************************************

*/

main.books {
    margin-top: 25%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    margin-left:9%;
    margin-right:9%;
    margin-bottom:5%;

}

.books h2 {
    color:#D2AC39;
    text-align: center;
    font-size: 1.9rem;
    letter-spacing: 0.19em;
    padding-top:5%;
    padding-bottom: 5%;
}

.books p {
    margin-top:7%;
    margin-bottom:7%;
}

.books-category p {
    text-align: left;
    margin-bottom:5%;
    line-height:1.7;
    font-weight: bold;
}

.beware-quote {
    font-style:italic;
    margin-top:5%;
    padding-bottom:10%;
}

div.justify-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.books img {
    width:50%;
    height:auto;
    margin-top: 5%;
    margin-bottom:10%;

}
 
.center-justify {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}

.center-justify-quote {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    padding:0%;
    margin:0%;
    line-height: 1.4;
    font-size:1.2rem;
}

p.no-margin {
    margin:0%;
    font-size:1.2rem;
}

.books h3 {
    font-size:3rem;
    margin-top: 12%;
    margin-bottom: 7%;
    color:#D2AC39;
    letter-spacing: 0.2em;
    text-align: center;
}

.books ul, .books li {
    line-height: 1.6;
    font-size: 1.2;
    margin-left:7%;
}

/* #####End of books page########## */

/* #####Start of short work page########## */

article.short-work {
    display: flex;
    flex-flow: column nowrap;
}

section.intro-short-work {
    display: flex;
    flex-flow: column nowrap;
}

section.nightmare {
    display: flex;
    flex-flow: column nowrap;
}

section.grandfather {
    display: flex;
    flex-flow: column nowrap;
}

